.order-container {
  min-height: calc(100vh - 4.5rem);
}

.order-container form {
  margin: 4rem auto;
  width: 35rem;
}

table td {
  vertical-align: middle;
}

.cart-img {
  width: 2.5rem;
  height: 2.5rem;
}
