<div class="card">
    <div class="card-img">
        <img src={{currentProduct.image}} class="card-img-top" alt="...">
    </div>

    <div class="card-body">
        <h5 class="card-title mb-1">{{currentProduct.title | shortenProductName:16}}</h5>
        <p class="card-subtitle text-muted mb-2">{{currentProduct.category | titlecase}}</p>
        <div class="card-price">
            <h5 class="card-text">{{currentProduct.price | convertToUsd}}</h5>
            <p class="mb-0"><i class="fa-solid fa-star text-warning"></i> {{currentProduct.rating.rate}}</p>
            <a [routerLink]="['/products', currentProduct.id]" class="link-primary">Details</a>
        </div>
        <div class="card-btns">
            <button type="button" class="btn btn-danger" (click)="addProductToLikedProducts(currentProduct)"><i
                    class="fa-regular fa-heart"></i></button>
            <div class="input-group input-group-sm">
                <button class="btn btn-primary" type="button" (click)="decreaseAmount()"
                    [disabled]="currentQuantity == 1"><i class="fa-solid fa-minus"></i></button>
                <input type="number" class="form-control shadow-none" [(ngModel)]="currentQuantity" readonly>
                <button class="btn btn-primary" type="button" (click)="increaseAmount()"><i
                        class="fa-solid fa-plus"></i></button>
            </div>
            <button type="button" class="btn btn-success" (click)="addToCart(currentProduct)"><i
                    class="fa-solid fa-cart-plus"></i></button>
        </div>
    </div>
</div>
