<div class="card">
    <div class="card-img">
        <img src="https://www.tezenis.com/dw/image/v2/BCXQ_PRD/on/demandware.static/-/Sites-TEZ_EC_COM/default/dwdb4da871/images/2MM15C9120-F.jpg?sw=600&sfrm=jpeg"
            class="card-img-top" alt="...">
    </div>

    <div class="card-body">
        <h5 class="card-title">Product title</h5>
        <p class="card-text">$120</p>
        <div class="card-btns">
            <button type="button" class="btn btn-danger"><i class="fa-regular fa-heart"></i></button>
            <div class="input-group input-group-sm">
                <button class="btn btn-primary" type="button"><i class="fa-solid fa-minus"></i></button>
                <input type="number" class="form-control" value="0">
                <button class="btn btn-primary" type="button"><i class="fa-solid fa-plus"></i></button>
            </div>
            <button type="button" class="btn btn-success"><i class="fa-solid fa-cart-plus"></i></button>
        </div>
    </div>
</div>
