.likes-container {
  border-radius: 0.5rem;
}

.likes-container::-webkit-scrollbar {
  display: none;
}

.table {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.likes-container table td {
  vertical-align: middle;
}

.likes-img {
  width: 2.5rem;
  height: 2.5rem;
}

.likes-btns {
  margin-bottom: 0.5rem;
}
